@font-face {
  font-family: " SegoeUI";
  src: url("../fonts/SegoeUI.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI-Bold.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI-Light.woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: "SegoeUI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #595959;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
