.user-nav {
  min-height: 28px;
  background-color: #424242;
}
.header__wrap {
  width: 1024px;
  margin: 0 auto;
}
.user-nav__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}
.user-nav__item {
  margin-right: 25px;
}
.user-nav__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #7bb461;
  }
  &:active {
    color: inherit;
    opacity: 0.5;
  }
}
